/* This is an example of using Sass, otherwise plain CSS works too*/
$main-logo: #F1C40F;
$border: #261663; 
$primary-color: #91508cc4; 

body {
  // background-color: $primary-background;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url('../images/PalmTreeSunset.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.display-board {
  display: inline-block;
}

h1 {
  color: $main-logo;
  text-align:center;
}

.start-game-btn {
  display:block;
  margin: 10px 50px;
}

table {
  background-color:green;
  border: 2px solid black;
  margin:0% 10%;
  width: 80%;
  
    tr {
    border: 2px solid black;
    }
    td {
    border: 2px solid black;
    height:50px;
    width:50px;
    }
      .puzzle-display {
        background-color: white;
        color: white;
        text-align: center;
      }
      .display-letter {
        color: black;
        transition: transform 4s;
        transform-style: preserve-3d;
        transform: rotateX(360deg);
      }
}

h2 {
  color: $main-logo;
  height: 25px;
  margin: 1% 0% 1% 13%;;
  text-align: center;
  width: 74%;
}

h3 {
  animation: rotate-scale-up 0.65s linear both;
  color: $main-logo; 
  font-size: 70px;
  font-weight: bold;
  height:400px;
  margin: 10% 1%;
  text-align: center;
}

@keyframes h3 {
  0% {
            transform: scale(1)rotateZ(0);
            transform: scale(1) rotateZ(0);
    }
  50% {
            transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
    }
  100% {
            transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
.splash-intake {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.initial-intake {
  background-color: $primary-color;
  width: 50%;
    p {
    color: $main-logo;
    margin: 13% 30%;
    text-align: center;
    }
}

.splash-input {
  margin: 5px;
  text-align:center;
}

.start-game-btn {
  width: 37%;
  height: 50px;
  margin: 3% 32%;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: $main-logo;
  border-radius: 8px;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.row-no-block {
  border: none;
  opacity: 0.1;
}

.current-player-name {
  font-weight: bold;
}

.alphabet {
  font-size: 20px;
  height: 50px;
  margin: 10px 2px;
  width: 50px;
}

.consonants {
  padding: 5px;
  width:70%;
}

.vowels {
  display: inline-block;
  padding: 5px;
}

.vowel-info {
  background-color: $primary-color;
  color: $main-logo;
  display: inline-block;
  margin: 0;
  padding: 13px;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  pointer-events: none;
}

.game-info {
  background-color: $primary-color;
  color: $main-logo;
  display: flex;
  justify-content: space-between;
  margin: 1% 13%;
  padding: 10px;
}

.spin-wheel-btn {
  background-color: $main-logo;
  border-radius: 8px;
  border: 0;
  color: $border;
  font-size: 15px;
  height: 50px;
  line-height: 2.5;
  margin: 0% 0%;
  padding: 0px 10px;
  text-align: center;
  width: 20%;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

.div-wheel-prize-display {
    animation: rotate-scale-up 0.65s linear both;
    align-items: center;
    background-color: $primary-color;
    border-radius: 50%;
    border: 2px solid $border;
    color: $main-logo;
    display: flex;
    float: right;
    font-size: 20px;
    height: 150px;
    justify-content: space-around;
    margin-right: 10%;
    padding-top: 10px;
    width: 150px;
}

@keyframes h3 {
  0% {
            transform: scale(1)rotateZ(0);
            transform: scale(1) rotateZ(0);
    }
  50% {
            transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
    }
  100% {
            transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.solve-btn {
  background-color: $main-logo;
  border-radius: 8px;
  border: 0;
  color: $border;
  display: inline;
  font-size: 15px;
  height: 40px;
  line-height: 2.5;
  margin: 0% 1% 0% 5%;
  padding: 0px 10px;
  text-align: center;
  width: 15%;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.solve-puzzle-input {
  height: 25px;
  margin: 10px 2%;
  width: 39%;
}

.restart-game-btn {
  background-color: $main-logo;
  border-radius: 8px;
  border: 0;
  color: #7f2e2e;;
  display: inline;
  font-size: 15px;
  height: 40px;
  line-height: 2.5;
  margin: 0% 1% 0% 15%;
  padding: 0px 10px;
  text-align: center;
  width: 15%;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.player-container {
  background-color: $primary-color;
  border-top: 2px solid $border;
  color: $main-logo;;
  display:flex;
  justify-content: space-between;
  align-items: center;
    
    .player1, 
    .player2,
    .player3 {
      border-right: 2px solid $border;
      width: 33%;
      text-align: center;
    }
}